body {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;*/
}

.accedi {
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  min-width: 77px;
  min-height: 32px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.accedi:hover {
  background-color: rgba(255, 0, 0, 0.779);
  cursor: pointer;
}

.inizia {
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  min-width: 128px;
  min-height: 56px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.inizia:hover {
  background-color: rgba(255, 0, 0, 0.779);
  cursor: pointer;
}

.scopri-di-più {
  background: rgba(128, 128, 128, 0.4);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  min-width: 92px;
  min-height: 28px;
  padding: 6px 16px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.scopri-di-più:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.313);
}

.arrow-right,
.arrow-left {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  min-width: 24px;
  min-height: 120px;
  padding: 6px 16px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.arrow-right:hover,
.arrow-left:hover {
  background-color: rgba(128, 128, 128, 0.313);
  cursor: pointer;
}

.domande-frequenti {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  color: #ffff;
  background-color: rgb(45, 45, 45);
  min-width: 75%;
  min-height: 90px;
  transition: background-color 0.3s ease-in-out;
}

.domande-frequenti:hover {
  background-color: rgb(128, 128, 128);
}
