<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../Button/index.css" />
  </head>
  <body>
    <!--Bottone accedi-->
    <button type="button" class="accedi">Accedi</button>
    <!--Bottone inizia-->
    <button type="button" class="inizia">Inizia ></button>
    <!--Bottone scopri di più-->
    <button type="button" class="scopri-di-più">Scopri di più</button>
    <!--Button arrows-->
    <button type="button" class="arrow-right">></button>
    <button type="button" class="arrow-left"><</button>
    <!--Button domande frequenti-->
    <button type="button" class="domande-frequenti">
      Cos'è Netflix?<svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        role="img"
        viewBox="0 0 36 36"
        width="36"
        height="36"
        data-icon="PlusLarge"
        aria-hidden="true"
        class="accordion-heading_iconStyles__199uojx2 accordion-heading_iconStyles_isOpen_false__199uojx4 default-ltr-cache-69r1y0-StyledPlusLarge e164gv2o4"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
          fill="currentColor"
        ></path>
      </svg>
    </button>
    <button type="button" class="domande-frequenti">
      Quanto costa Netflix?<svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        role="img"
        viewBox="0 0 36 36"
        width="36"
        height="36"
        data-icon="PlusLarge"
        aria-hidden="true"
        class="accordion-heading_iconStyles__199uojx2 accordion-heading_iconStyles_isOpen_false__199uojx4 default-ltr-cache-69r1y0-StyledPlusLarge e164gv2o4"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
          fill="currentColor"
        ></path>
      </svg>
    </button>
    <button type="button" class="domande-frequenti">
      Dove posso guardare Netflix?<svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        role="img"
        viewBox="0 0 36 36"
        width="36"
        height="36"
        data-icon="PlusLarge"
        aria-hidden="true"
        class="accordion-heading_iconStyles__199uojx2 accordion-heading_iconStyles_isOpen_false__199uojx4 default-ltr-cache-69r1y0-StyledPlusLarge e164gv2o4"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
          fill="currentColor"
        ></path>
      </svg>
    </button>
    <button type="button" class="domande-frequenti">
      Come posso disdire?<svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        role="img"
        viewBox="0 0 36 36"
        width="36"
        height="36"
        data-icon="PlusLarge"
        aria-hidden="true"
        class="accordion-heading_iconStyles__199uojx2 accordion-heading_iconStyles_isOpen_false__199uojx4 default-ltr-cache-69r1y0-StyledPlusLarge e164gv2o4"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
          fill="currentColor"
        ></path>
      </svg>
    </button>
    <button type="button" class="domande-frequenti">
      Cosa posso guardare su Netflix?<svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        role="img"
        viewBox="0 0 36 36"
        width="36"
        height="36"
        data-icon="PlusLarge"
        aria-hidden="true"
        class="accordion-heading_iconStyles__199uojx2 accordion-heading_iconStyles_isOpen_false__199uojx4 default-ltr-cache-69r1y0-StyledPlusLarge e164gv2o4"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
          fill="currentColor"
        ></path>
      </svg>
    </button>
    <button type="button" class="domande-frequenti">
      Netflix è adatto ai bambini?<svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        role="img"
        viewBox="0 0 36 36"
        width="36"
        height="36"
        data-icon="PlusLarge"
        aria-hidden="true"
        class="accordion-heading_iconStyles__199uojx2 accordion-heading_iconStyles_isOpen_false__199uojx4 default-ltr-cache-69r1y0-StyledPlusLarge e164gv2o4"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 17V3H19V17H33V19H19V33H17V19H3V17H17Z"
          fill="currentColor"
        ></path>
      </svg>
    </button>
  </body>
</html>
