.navbar {
  padding-top: 30px;
  display: flex;
  position: relative;
  padding-left: 120px;
  padding-right: 120px;
  z-index: 1;
  gap: 873px;
}

.netflix-logo {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
  display: block;
}

.language {
  background-color: transparent;
  border-radius: 5px;
  border-color: 1px solid white;
  color: white;
  min-width: 124px;
  min-height: 32px;
}

option {
  color: black;
}
